@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
html,
body,
.container {
  height: 100%;
  font-family: "Poppins";
}

:root {
  --dark-color: #000;
}

body {
  background-image: url("img/bg3.jpg");
  background-size: cover;
}

.greetings-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.greetingss {
  color: azure;
  font-size: 60px;
  margin-top: 50px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .greetingss {
    font-size: 50px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .greetingss {
    font-size: 32px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .greetingss {
    font-size: 22x; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .greetingss {
    font-size: 19px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.greetingss > span {
  animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
  }
  10%,
  90% {
    color: #6666b3;
    text-shadow: none;
  }
}
.greetingss > span:nth-child(2) {
  animation-delay: 0.2s;
}
.greetingss > span:nth-child(3) {
  animation-delay: 0.4s;
}
.greetingss > span:nth-child(4) {
  animation-delay: 0.6s;
}
.greetingss > span:nth-child(5) {
  animation-delay: 0.8s;
}
.greetingss > span:nth-child(6) {
  animation-delay: 1s;
}
.greetingss > span:nth-child(7) {
  animation-delay: 1.2s;
}
.greetingss > span:nth-child(8) {
  animation-delay: 1.4s;
}
.greetingss > span:nth-child(9) {
  animation-delay: 1.6s;
}
.greetingss > span:nth-child(10) {
  animation-delay: 1.8s;
}
.greetingss > span:nth-child(11) {
  animation-delay: 2s;
}
.greetingss > span:nth-child(12) {
  animation-delay: 2.2s;
}
.greetingss > span:nth-child(13) {
  animation-delay: 2.4s;
}
body {
  background-color: #333;
}

.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  margin-left: -125px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .cake {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 100px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .cake {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 100px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .cake {
    top: 50%;
    left: 50%;
    width: 250px;
    height: 100px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .cake {
    top: 22%;
    left: 75%;
    width: 90px;
    height: 83px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 #b3b3b3, 0 4px 0 #b3b3b3, 0 5px 40px rgba(0, 0, 0, 0.5);
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .plate {
    width: 250px;
    height: 100px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .plate {
    width: 250px;
    height: 100px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .plate {
    width: 250px;
    height: 100px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .plate {
    width: 110px;
    height: 40px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #553c13;
  box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b,
    0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b,
    0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a,
    0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09,
    0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .layer {
    width: 250px;
    height: 100px;
    box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b,
      0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b,
      0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a,
      0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09,
      0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .layer {
    width: 250px;
    height: 100px;
    box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b,
      0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b,
      0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a,
      0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09,
      0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .layer {
    width: 250px;
    height: 100px;
    box-shadow: 0 2px 0px #6a4b18, 0 4px 0px #33240b, 0 6px 0px #32230b,
      0 8px 0px #31230b, 0 10px 0px #30220b, 0 12px 0px #2f220b,
      0 14px 0px #2f210a, 0 16px 0px #2e200a, 0 18px 0px #2d200a,
      0 20px 0px #2c1f0a, 0 22px 0px #2b1f0a, 0 24px 0px #2a1e09,
      0 26px 0px #2a1d09, 0 28px 0px #291d09, 0 30px 0px #281c09; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .layer {
    width: 90px;
    height: 40px;
    box-shadow: 0 2px 0px #6a4b18, 0 2px 0px #33240b, 0 2px 0px #32230b,
      0 2px 0px #31230b, 0 2px 0px #30220b, 0 2px 0px #2f220b, 0 2px 0px #2f210a,
      0 2px 0px #2e200a, 0 4px 0px #2d200a, 0 6px 0px #2c1f0a, 0 8px 0px #2b1f0a,
      0 10px 0px #2a1e09, 0 12px 0px #2a1d09, 0 14px 0px #291d09,
      0 16px 0px #281c09; /* Ukuran font untuk layar smartphone portrait */
  }
}

.layer-top {
  top: 0px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .layer-top {
    top: 0px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .layer-top {
    top: 0px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .layer-top {
    top: 0px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .layer-top {
    top: 0px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.layer-middle {
  top: 33px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .layer-middle {
    top: 33px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .layer-middle {
    top: 33px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .layer-middle {
    top: 33px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .layer-middle {
    top: 17px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.layer-bottom {
  top: 66px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .layer-bottom {
    top: 66px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .layer-bottom {
    top: 66px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .layer-bottom {
    top: 66px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .layer-bottom {
    top: 32px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.icing {
  top: 2px;
  left: 3px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .icing {
    width: 240px;
    height: 90px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .icing {
    width: 240px;
    height: 90px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .icing {
    width: 240px;
    height: 90px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .icing {
    width: 85px;
    height: 36px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.icing:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 5px;
  bottom: 6px;
  left: 5px;
  background-color: #f4ebdc;
  box-shadow: 0 0 4px #f6efe3, 0 0 4px #f6efe3, 0 0 4px #f6efe3;
  border-radius: 50%;
  z-index: 1;
}

.drip {
  display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .drip {
    width: 50px;
    height: 60px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .drip {
    width: 50px;
    height: 60px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .drip {
    width: 50px;
    height: 60px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .drip {
    width: 20px;
    height: 10px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .drip1 {
    top: 22px;
    left: 3px;
    transform: skewY(15deg);
    height: 18px;
    width: 15px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
    height: 48px;
    width: 40px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
    height: 48px;
    width: 40px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
    height: 48px;
    width: 40px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .drip2 {
    top: 22px;
    left: 67px;
    transform: skewY(-20deg);
    height: 28px;
    width: 15px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    height: 20px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    height: 20px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    height: 20px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .drip3 {
    top: 28px;
    left: 31px;
    width: 30px;
    height: 18px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.candle {
  background-color: #7b020b;
  width: 16px;
  height: 50px;
  border-radius: 8px/4px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .candle {
    width: 16px;
    height: 50px;
    border-radius: 8px/4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .candle {
    width: 16px;
    height: 50px;
    border-radius: 8px/4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .candle {
    width: 16px;
    height: 50px;
    border-radius: 8px/4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .candle {
    width: 8px;
    height: 25px;
    border-radius: 8px/4px;
    top: -10px;
    left: 55%;
    margin-left: -8px;
    z-index: 10; /* Ukuran font untuk layar smartphone portrait */
  }
}

.candle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 4px;
  border-radius: 50%;
  background-color: #ad030f;
}

.flame {
  position: absolute;
  background-color: orange;
  width: 15px;
  height: 35px;
  border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5),
    0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .flame {
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
    top: -34px;
    left: 50%; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .flame {
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
    top: -34px;
    left: 50%; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 479px) and (orientation: portrait) {
  .flame {
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
    top: -34px;
    left: 50%; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) {
  .flame {
    width: 7px;
    height: 18px;
    border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
    top: -18px;
    left: 100%; /* Ukuran font untuk layar smartphone portrait */
  }
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.2),
      0 0 60px rgba(255, 165, 0, 0.2), 0 0 80px rgba(255, 165, 0, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5),
      0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.3), 0 0 20px rgba(255, 165, 0, 0.3),
      0 0 60px rgba(255, 165, 0, 0.3), 0 0 80px rgba(255, 165, 0, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.4), 0 0 20px rgba(255, 165, 0, 0.4),
      0 0 60px rgba(255, 165, 0, 0.4), 0 0 80px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5),
      0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5);
  }
}

.boxwrap {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 0;
  transition: background-color 0.5s ease;
}
.wishh {
  color: white;
  font-size: 20px;
  margin-top: 30px;
}

/* Media query untuk layar tablet dalam orientasi landscape tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .wishh {
    font-size: 16px; /* Ukuran font untuk layar tablet landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi landscape hp */
@media screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
  .wishh {
    font-size: 10px; /* Ukuran font untuk layar smartphone landscape */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (min-width: 320px) and (max-width: 450px) and (orientation: portrait) {
  .wishh {
    font-size: 7px; /* Ukuran font untuk layar smartphone portrait */
  }
}

/* Media query untuk layar smartphone dalam orientasi portrait */
@media screen and (max-width: 319px) and (orientation: portrait) {
  .wishh {
    font-size: 6px; /* Ukuran font untuk layar smartphone portrait */
  }
}

.note {
  color: grey;
  font-size: 10px;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: var(--or);
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
